@import "tailwindcss";
.messages-scrollbar {
  height: 100%;
  max-height: calc(80vh); /* Adjust as needed */
  overflow-y: auto;
}
.messages-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.messages-scrollbar::-webkit-scrollbar-track {
  background: #1e293b; /* dark track */
  border-radius: 8px;
}
.messages-scrollbar::-webkit-scrollbar-thumb {
  background: #facc15; /* yellow thumb */
  border-radius: 8px;
}
.messages-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #eab308;
}
